{% extends admin_base_template %}

{% block head_meta %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{# Replace this block so we can replace the style block with our local stylesheet #}
{% block head_css %}
  <link href="{{ admin_static.url(filename='bootstrap/bootstrap2/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default')), v='2.3.2') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='bootstrap/bootstrap2/css/bootstrap-responsive.css', v='2.3.2') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='admin/css/bootstrap2/admin.css', v='1.1.1') }}" rel="stylesheet">
  <link href="/static/admin-local.css" rel="stylesheet">
  {% if admin_view.extra_css %}
    {% for css_url in admin_view.extra_css %}
      <link href="{{ css_url }}" rel="stylesheet">
    {% endfor %}
  {% endif %}
{% endblock %}

{# If it is enabled for this view, load and initialize Ckeditor #}
{% block tail_js %}
  {{ super() }}
  {% if admin_view.load_html_editor %}
  <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
  <script>
  var elements = document.querySelectorAll(".html_editor");
  for(var i = 0; i < elements.length; i++) {
    ClassicEditor.create(elements[i]);
  }
  </script>
  {% endif %}
{% endblock %}

