<!DOCTYPE html>
<html lang="en">
<head>
<meta charset='utf-8'>
<title>{{ config['APP_DISPLAY_NAME'] }}</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
<link rel="canonical" href="{{ config['CANONICAL_URL'] }}">
<meta name="description" content="Keep track of your contacts during the COVID-19
pandemic while remaining as close to anonymous as possible. Anyone who becomes
infected can inform the others of the date of contact so they can get tested
or self quarantine.">
<meta name="keywords" content="COVID-19 coronovirus contact exposure QR-code scan">

<link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
<link rel="shortcut icon" type="image/x-icon" sizes="16x16 32x32 48x48" href="/static/favicon.ico">

<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon-180x180.png">

<link rel="manifest" href="/static/manifest.json">
<link rel="stylesheet" href="/static/base.css" type="text/css">
{% block head_js %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
