{% extends "base.html" %}

{% block head_js %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {

	/* If no tab is selected, select the first. */
	if(window.location.hash === "")
		window.location.hash = "#tab1";

	/* Set and keep the class "active_tab" on the tab which cooresponds to the URL fragment */
	function set_active_tab() {
		var active = document.getElementsByClassName("active_tab");
		if(active.length > 0)
			active[0].className = "";
		document.getElementById("_" + window.location.hash.substring(1)).className = "active_tab";
		}
	window.addEventListener("hashchange", set_active_tab);
	set_active_tab();

	});

/* If this browser supports service workers, register ours. */
if('serviceWorker' in navigator) {
	window.addEventListener("load", function() {
		navigator.serviceWorker.register('/service-worker.js').then((reg) => {
				console.log("page:sw: registered");
			}).catch((error) => {
				console.log("page:sw: registration failed:", error);
			});
		});
	}
</script>
{% endblock %}

{% block content %}
<header>
	<h1>Contact Tracker</h1>
	<ul id="tabbar">
		<li><a id="_tab1" href="#tab1">QR Code</a></li>
		<li><a id="_tab2" href="#tab2">Alerts</a></li>
		<li><a id="_tab3" href="#tab3">About</a></li>
		<li><a id="_tab4" href="#tab4">Privacy</a></li>
	</ul>
</header>

<div id="tab1" class="tab">
	<h2>QR Code</h2>
	{% if not user %}
	<p>Welcome to <b>Contact Tracer</b>. By using this app you can help to slow
	the spread of COVID-19. To become a user, press the button below and the app will
	assign you a unique QR code and save it on your phone. Refer to the
	<b>About</b> and <b>Privacy</b> tabs for more information about how this
	app works.</p>
	<div class="qr_code_container">
		<div class="qr_code">
			<form action="/signup" method="POST">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
				<button type="submit">Get My QR Code</button>
			</form>
		</div>
	</div>
	{% else %}
	<p>Scan the QR code below to record your contact with the owner of this phone.
	Take care to remain six feet apart when scanning. If necessary, one phone can
	be placed on a tabletop. If your phone does not have a QR code scanner, go to
	<a href="{{request.url_root}}">{{request.host}}</a> to install this app and
	use the built-in scanner.</p>

	<div class="qr_code_container">
		<div class="qr_code">
			<img src="{{ url_for('qr_code_renderer', qr_code=user.qr_code) }}">
			<div>{{ user.qr_code[:3] }} {{ user.qr_code[3:6] }} {{ user.qr_code[6:9] }} {{ user.qr_code[9:] }}</div>
		</div>
	</div>
	<div class="bottom_buttons">
		<a href="/scanner"><button>Open Scanner</button></a>
	</div>

	{% if scan_result == "RECORDED" %}
	<div class="scan_result recorded">Scan recorded!</div>
	{% elif scan_result == "DUP" %}
	<div class="scan_result dup">Duplicate scan!</div>
	{% endif %}

	{% endif %}
</div>

<div id="tab2" class="tab">
	<h2>Alerts Sent</h2>
	{% if user.alerts %}
	<form action="/alerts/set-canceled" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<ul class="alerts">
			{% for alert in user.alerts %}
			<li>
				{{ alert.date }}
				{% if alert.canceled %}
					(canceled)
					<button name="alert" value="{{ alert.id }}-0">Restore this Alert</button>
				{% else %}
					<button name="alert" value="{{ alert.id }}-1">Cancel this Alert</button>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</form>
	{% else %}
	<p>You have not sent any alerts.</p>
	{% endif %}
	<form action="/alerts/send" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
		<p><button>Send an Alert</button></p>
	</form>

	<h2>Alerts Received</h2>
	{% if alerts_received %}
	<ul class="alerts">
		{% for alert in alerts_received %}
		<li>
			{{ alert.date }}
			{% if alert.canceled %}(canceled){% endif %}
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>You have not received any alerts.</p>
	{% endif %}

	<h2>Contacts Recorded</h2>
	<p>You have recorded {{ user.contacts|length }} contacts within the last 30 days.</p> 
</div>

<div id="tab3" class="tab">
	<h2>About Contact Tracker</h2>
	<p>Use this application to keep track of your contact with other persons
	during the COVID-19 pandemic. All that is needed to record that you met
	someone is for one of you to scan the other's QR code. There is no need
	to give the other person your name or contact information.</p>
	<p>If it becomes necessary later, you can use this app to report a
	COVID-19 infection to anyone you met in person recently.
	The others will be informed that they were in contact with an infected
	person on a particular date, but they will not necessarily be able to
	guess that it was you. Still, this will be enough information for them	
	to talk to a doctor and decide whether they need to get a COVID-19 test
	or go into quarantine.</p>

	<h2>Authors</h2>
	<p>The Contact Tracker concept and theory of operation were devised by Mikhaylo
	Telychko. This implementation as a Progressive Web App (PWA) was written by David Chappell.
	Feel free to contact them by opening an Issue on the projects Github page:
	<a href="https://github.com/david672orford/contact-tracker">
	https://github.com/david672orford/contact-tracker</a>.</p>

	<h2>License</h2>
	<p>©Copyright 2020 David Chappell</p>
	<p>Contact Tracker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.</p>
	<p>Contact Tracker is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.</p>
    <p>You should have received a copy of the GNU General Public License
    along with this program. If not, see <a href="https://www.gnu.org/licenses">
	https://www.gnu.org/licenses/</a>.</p>

</div>

<div id="tab4" class="tab">
	<h2>Privacy Policy</h2>
	<p>This app assigns a random ID number to each user and displays it on the
	app screen as a QR code. It does not collect information about the real
	identities of its users. It records the following information and retains
	it for 30 days:</p>
	<ul>
	<li>The ID numbers of all codes you have scanned.</li>
	<li>The ID numbers of all users who have scanned your code.</li>
	<li>The date of each scan.</li>
	<li>COVID-19 infections reported through the app.</li>
	</ul>
	<p>This app does not collect any of the following information:</p>
	<ul>
	<li>Your name</li>
	<li>Your address</li>
	<li>Your telephone number</li>
	<li>Your e-mail address</li>
	<li>The IMSI of your phone</li>
	<li>Your GPS coordinates</li>
	</ul>
	<p>This application does not record the IP address of your phone, though
	it may be recorded in the web server logs.</p>
</div>

{% endblock %}
