{% extends "base.html" %}

{% block head_js %}
<script type="text/javascript" src="/static/qr-scanner.umd.min.js"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {

	QrScanner.WORKER_PATH = "/static/qr-scanner-worker.min.js";

	const qrScanner = new QrScanner(
		document.querySelector(".scanner VIDEO"),
		result => {
			console.log('decoded qr code:', result);
			window.location.replace(result);
			}
		);

	qrScanner.start();

});
</script>
{% endblock %}

{% block content %}
<div class="scanner">
	<video></video>
	<div><a href="/#tab1"><button>Close Scanner</button></a></div>
</div>
{% endblock %}
